@config "../tailwind.config.js"; 
@import "tailwindcss";


@font-face {
  font-family: 'Calibre-Medium';
  src: url('../fonts/calibre/Calibre-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'SFMono-Medium';
  src: url('../fonts/mono/SFMono-Medium.ttf') format('truetype');
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}